<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">ExpenseKit</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Home
      </li>

      <li class="sidebar-item {% if 'home' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('main.home') }}">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item {% if 'profile' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('main.profile') }}">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>

      <li class="sidebar-item {% if 'add-account' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('main.create_account') }}">
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">Add Account</span>
        </a>
      </li>

      <li class="sidebar-header">
        Finance
      </li>

      <!-- <li class="sidebar-item {% if 'expenses' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('expenses.home') }}">
          <i class="align-middle" data-feather="square"></i> <span class="align-middle">Expenses</span>
        </a>
      </li>

      <li class="sidebar-item {% if 'income' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('incomes.home') }}">
          <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Income</span>
        </a>
      </li> -->

      <li class="sidebar-item {% if 'accounts' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('main.accounts_home') }}">
          <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Accounts</span>
        </a>
      </li>

      <li class="sidebar-item {% if 'budget' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('budgets.home') }}">
          <i class="align-middle" data-feather="pie-chart"></i> <span class="align-middle">Budgets</span>
        </a>
      </li>

      <li class="sidebar-item {% if 'subscriptions' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('subs.home') }}">
          <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Subscriptions</span>
        </a>
      </li>

      <!-- Sidebar , from v2.1.0 -->

      <li class="sidebar-header">
        Other
      </li>

      <li class="sidebar-item {% if 'signout' in segment %} active {% endif %}">
        <a class="sidebar-link" href="{{ url_for('auth.logout') }}">
          <i class="align-middle" data-feather="map"></i> <span class="align-middle">Sign out</span>
        </a>
      </li>
    </ul>


  </div>
</nav>