{% extends 'layouts/base.html' %}
{% import 'cards.html' as card %}

{% block title %} Dashboard {% endblock title %}


{% block content %}
<div class="container-fluid p-0">
    

    <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>
    <div class="row mb-3">
        <div class="col-sm-4 mt-2 mt-md-0">
            <a href="{{ url_for('expenses.home') }}" class="btn shadow-sm border-danger border-2 bg-white rounded-4 w-100 d-flex justify-content-center flex-column p-4">
                <span class="text-center text-success"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign w-25 h-25"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg></i></span>
                <h4 class="mt-3 text-success fw-bold">Add Expense</h3>
            </a>
        </div>
        <div class="col-sm-4 mt-2 mt-md-0">
            <a href="{{ url_for('incomes.home') }}" class="btn border-success border-2 bg-white rounded-4 w-100 d-flex justify-content-center flex-column p-4">
                <span class="text-center text-success"><i data-feather="database" stroke-width="0.5" class="w-25 h-25"></i></span>
                <h4 class="mt-3 text-success fw-bold">Add Income</h3>
            </a>
        </div>
        <div class="col-sm-4 mt-2 mt-md-0">
            <a href="{{ url_for('budgets.home') }}" class="btn border-warning border-2 bg-white rounded-4 w-100 d-flex justify-content-center flex-column p-4">
                <span class="text-center text-success"><i data-feather="pie-chart" class="w-25 h-25"></i></span>
                <h4  class="mt-3 text-success fw-bold">Add Budget</h3>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-xxl-5 d-flex">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-12">
                        {{ card.dash_card('Total Net Worth', 'dollar-sign', total_net_worth, 'Since last month', total_increase) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ card.dash_card('Total Income', 'trending-up', total_incomes, 'Since last month', income_increase) }}


                    </div>
                    <div class="col-sm-6">
                        {{ card.dash_card('Total Expenses', 'trending-down', total_expenses, 'Since last month', expense_increase) }}

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-xxl-7">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Last 6 Months Totals</h5>
                </div>
                <div class="card-body py-3">
                    <div class="chart chart-sm">
                        <canvas id="chartjs-dashboard-line"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Top Transaction categories</h5>
                </div>
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <div class="py-3">
                            <div class="chart chart-xs">
                                <canvas id="chartjs-dashboard-pie"></canvas>
                            </div>
                        </div>

                        <table class="table mb-0">
                            <tbody>
                                {% for category, value in top_3|reverse  %}
                                    <tr>
                                        <td>{{ category }}</td>
                                        <td class="text-end">{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 col-xxl-9 d-flex">
            <div class="card flex-fill">
                <div class="card-header">

                    <h5 class="card-title mb-0">Latest Transactions</h5>
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Date</th>
                            <th class="d-none d-xl-table-cell">Amount</th>
                            <th>Type</th>
                            <th class="d-none d-md-table-cell">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in last_8_records  %}
                            <tr>
                                <td class="text-secondary">{{ record.name }}</td>
                                <td class="d-none d-xl-table-cell">{{ record.date }}</td>
                                <td class="d-none d-xl-table-cell">${{ record.amount }}</td>
                                <td><span class="badge {{ 'bg-success' if record.type == 'income' else 'bg-danger' }}">{{ record.type }}</span></td>
                                <td class="d-none d-md-table-cell">{{ record.category }}</td>
                            </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
<script>
    // Create JavaScript arrays for the months and totals
    var monthNumbers = [{{ monthly_expenses|map(attribute='month')|join(", ") }}];
    var totals = [{{ monthly_expenses|map(attribute='total')|join(", ") }}];

    // Array of month names in ordinal form
    var monthNames = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    // Convert the month numbers to month names
    var months = monthNumbers.map(function(monthNumber) {
        return monthNames[monthNumber];
    });

    // Now you can use the months and totals arrays in your JavaScript code
    console.log(months);
    console.log(totals);
    
    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 225);
        gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
        gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
        // Line chart
        new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: "line",
            data: {
                labels: months.reverse(),
                datasets: [{
                    label: "Totals ($)",
                    fill: true,
                    backgroundColor: gradient,
                    borderColor: window.theme.primary,
                    data: totals.reverse(),
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 2000
                        },
                        display: true,
                        borderDash: [3, 3],
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
         // Create a JavaScript object from the JSON string
        var data = JSON.parse('{{ top3_json|safe }}');

        // Create arrays for the categories and values
        var categories = Object.keys(data);
        var values = Object.values(data);

        // Now you can use the categories and values arrays in your JavaScript code
        console.log(categories);
        console.log(values);
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
                labels: categories,
                datasets: [{
                    data: values,
                    backgroundColor: [
                        window.theme.primary,
                        window.theme.warning,
                        window.theme.danger
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
{% endblock javascripts %}