{% extends 'layouts/base.html' %}
{% import 'includes/pagination.html' as pager %}
{% import 'cards.html' as card %}
{% block title %} {{ legend }} {% endblock title %}

{% block content %}
<div class="container-fluid p-0">

  <h1 class="h3 mb-3">{{ legend }}</h1>
  <div class="row">
    {{ card.stat_card('Total Count', 'dollar-sign', count, 
          '<span class="text-success"> +6.15%  </span> <span class="text-success"> +6.15%  </span>') }}
    {{ card.stat_card('Total Amount', 'dollar-sign', sum, 
          '<span class="text-success"> +6.15%  </span> <span class="text-muted">Since last week</span>') }}
  
    <!-- ewnd -->
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title mb-0">{{ legend }} Summary</h2>

          {% if legend == 'Expense' %}
            {{ pager.pagination('expenses.home', results, count) }}
          {% else %}
            {{ pager.pagination('incomes.home', results, count) }}
          {% endif %}
         
          
          <!-- Modal Button-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add {{ legend }}
          </button>

          <!-- Modal Todo: separate -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-3" id="exampleModalLabel">Add {{ legend }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  <div class="modal-body">
                    {% include 'add_expense_page.html' %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.submit(class="btn btn-primary") }}
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Delete confirmation -->

        <!-- Modal -->
        <div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="confirm-delete-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to Delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form id="deleteForm" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        </div>
        <div class="card-body">
          <!-- Summary Table -->
          <table class="table table-hover table-striped">
            <thead class="table-light">
              <tr>
                <th scope="row">Name</th>
                <th scope="row">Amount</th>
                <th scope="row">{{ 'Date Spent' if legend == "Expense" else 'Date Received' }}</th>
                <th scope="row">Category</th>
                <th scope="row">Paid Via</th>
                <th scope="row">Note</th>
                <th scope="row">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in results.items %}
              <tr>
                <td> {{ expense.name }} </td>
                <td class="text-danger"> $ {{ expense.amount }} </td>
                <td> {{ expense.date }} </td>
                <td> {{ expense.category }} </td>
                <td> {{ expense.account.name }} </td>
                <td> {{ expense.note }} </td>
                <td class="table-action"> 
                  {% if legend == 'Expense' %}
                    <a href="{{ url_for('expenses.expense', record_id=expense.id) }}">
                    
                  {% else %}
                    <a href="{{ url_for('incomes.income', record_id=expense.id) }}">
                    
                  {% endif %}
                    <i data-feather="edit-2" class="feather"></i>
                  </a>
                  <button type="button" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#confirm-delete" data-bs-record-id="{{ expense.id }}">
                    <i data-feather="trash" class="feather"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
{% block javascripts %}
{% if form.errors %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
  $(window).on('load', function () {
    $('#exampleModal').modal('show');
  });
</script>
{% endif %}
<script>
  const confirmDeleteModal = document.getElementById('confirm-delete')
  if (confirmDeleteModal) {
    confirmDeleteModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      const recipient = button.getAttribute('data-bs-record-id')
      console.log(recipient)
      document.getElementById('deleteForm').action = "/{{ 'expenses' if legend == 'Expense' else 'incomes' }}/" + recipient;
    })
  }
</script>
{% endblock javascripts %}