{% extends 'layouts/base.html' %}
{% import 'includes/pagination.html' as pager %}
{% import 'cards.html' as card %}

{% block title %} Income {% endblock title %}

{% block content %}
<div class="container-fluid p-0">

  <h1 class="h3 mb-3">Income</h1>
  <div class="row">
    {{ card.stat_card('Total Amount', 'dollar-sign', '$53,252', 
          '<span class="text-success"> +6.15%  </span> <span class="text-success"> +6.15%  </span>') }}
    {{ card.stat_card('Total Amount', 'dollar-sign', '$53,252', 
          '<span class="text-success"> +6.15%  </span> <span class="text-muted">Since last week</span>') }}
  
    <!-- ewnd -->
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Summary</h5>

          {{ pager.pagination('main.income', incomes) }}
          <!-- Modal Button-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Income
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-3" id="exampleModalLabel">New Income</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="modal-body">
                      {% include 'add_income_page.html' %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      {{ form.submit(class="btn btn-primary") }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <!-- Summary Table -->
          <table class="table table-hover table-striped">
            <thead class="table-light">
              <tr>
                <th scope="row">#</th>
                <th scope="row">Name</th>
                <th scope="row">Amount</th>
                <th scope="row">Date Received</th>
                <th scope="row">Category</th>
                <th scope="row">Paid Via</th>
                <th scope="row">Note</th>
              </tr>
            </thead>
            <tbody>
              {% for income in incomes.items %}
                <tr>
                  <th scope="row"> {{ loop.index }} </th>
                  <td> {{ income.name }} </td>
                  <td> {{ income.amount }} </td>
                  <td> {{ income.date }} </td>
                  <td> {{ income.category }} </td>
                  <td> {{ income.account.name }} </td>
                  <td> {{ income.note }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block javascripts %}
  {% if form.errors %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
      $(window).on('load', function() {
        $('#exampleModal').modal('show');
    });
    </script>
  {% endif %}
{% endblock javascripts %}