{% extends 'layouts/base.html' %}

{% block title %} Blank {% endblock title %}

{% block content %}
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Subscriptions</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body m-5">
                        <div class="d-flex flex-row justify-">
                            <div class="m-2 flex-grow-1 alert alert-success" role="alert">
                                Active
                            </div>
                            <div class="m-2 flex-grow-1 alert alert-primary" role="alert">
                                Upcoming
                            </div>
                            <div class="m-2 flex-grow-1 alert alert-danger" role="alert">
                                Cancelled
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}