{% extends 'layouts/base.html' %}
{% import 'includes/pagination.html' as pager %}
{% import 'cards.html' as card %}

{% block title %} Income {% endblock title %}

{% block content %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">{{ legend }}</h1>

  <div class="row justify-content-md-center">
    <div class="col-12 col-sm-5">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Transaction</h5>

        </div>
        <div class="card-body">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {% include 'add_record_page.html' %}
                <div class="row mt-4 justify-content-end">
                    <div class="col-4">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
                    <div class="col-4">
                      {% if legend == "Expense" %}
                        <form action="{{ url_for('expenses.expense', record_id=item.id) }}" method="POST">
                      {% else %}
                      <form action="{{ url_for('incomes.income', record_id=item.id) }}" method="POST">
                      {% endif %}
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger" type="submit">Delete</button>
                       </form>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block javascripts %}
  {% if form.errors %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
      $(window).on('load', function() {
        $('#exampleModal').modal('show');
    });
    </script>
  {% endif %}
{% endblock javascripts %}